<nav class="festival-navbar">
    <div class="logo">
        <img src="/images/festival_logo.png" alt="ShowTime" />
    </div>

    <div class="nav-links">
        <a href="/" class="nav-link"><i class="fas fa-house"></i> Home</a>
        <a href="/artists" class="nav-link"><i class="fas fa-microphone"></i> Artists</a>
        <a href="/festivals" class="nav-link"><i class="fas fa-music"></i> Festivals</a>
        <AuthorizeView Roles="Administrator"><Authorized> <a href="/lineups" class="nav-link"><i class="fas fa-users"></i> Lineups</a></Authorized></AuthorizeView>

        <input type="text" placeholder="Search artists/festivals..." class="search-bar" />
    </div>

    <div class="auth-buttons">
        <button class="btn login-btn">Log in</button>
    </div>
</nav>

