@inherits LayoutComponentBase

<HeaderNavbar />

<div class="layout-wrapper">
    <AuthorizeView>
        <NotAuthorized><a href="/login">Login</a></NotAuthorized>
    </AuthorizeView>
    <div class="main-content">
        @Body
    </div>
</div>

<Footer />
