@inherits LayoutComponentBase

<HeaderNavbar />

<div class="layout-wrapper">
    <main class="main-content">
        @Body
    </main>
    <footer class="festival-footer">
      
    </footer>
</div>


<Footer />
