@page "/login"
@using Microsoft.AspNetCore.Authentication.Cookies
@using ShowTime_BusinessLogic.Dtos
@using ShowTime_BusinessLogic.Dtos.Login
@using System.Security.Claims
@using ShowTime.DataAccess.Models
@using ShowTime_BusinessLogic.Services
@inject IUserService UserService
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Authentication

<div class="auth-box text-center">
    <div class="titlu">
        <img src="/SiteImages/OtherPages/titlu.png" alt="ShowTime">
    </div>

    <div class="box">
        <EditForm Model="loginModel" OnValidSubmit="Authenticate" FormName="LoginForm">
            <h1>🎤 Artist Portal</h1>


            <div class="inputBox">
                <InputText @bind-Value="loginModel.Email" id="userField" required />
                <span>Email</span>
                <i class="fa fa-envelope"></i>
            </div>

            <div class="inputBox">
                <InputText @bind-Value="loginModel.Password" type="password" id="passwordField" required />
                <span>Password</span>
                <i class="fa fa-lock"></i>
            </div>

            <div class="links">
                <p>🎧 Forgot Password? <a href="/resetpassword">Reset it here.</a></p>
                <p>🕺 New to the festival? <a href="/register">Join us now.</a></p>
            </div>

            <button type="submit">🚀 Enter Festival</button>

            <p class="or">Or Log In using the socials below</p>

            <div class="social-icons">
                <div class="social-icon instagram"><a href="#"><i class="fa fa-instagram"></i></a></div>
                <div class="social-icon facebook"><a href="#"><i class="fa fa-facebook"></i></a></div>
                <div class="social-icon google"><a href="#"><i class="fa fa-google"></i></a></div>
                <div class="social-icon linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>

            <audio autoplay loop id="audio">
                <source src="/SiteMedia/BlackPantherLoginTheme.mp3" type="audio/mpeg">
            </audio>

            <div class="sound-toggle">
                <label for="mutesound">🔊 Enable Sound</label>
                <input type="checkbox" id="mutesound" checked onclick="EnableAudio()" />
            </div>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private LoginDto loginModel { get; set; } = new();

    [CascadingParameter]
    private HttpContext httpContext { get; set; } = null;

    private async Task Authenticate()
    {
        try
        {
            var response = await UserService.LoginAsync(loginModel);
            var claims = new List<Claim>
                {
                    new (ClaimTypes.Email, loginModel.Email),
                    new (ClaimTypes.Role, Enum.GetName(typeof(Role), response.Role)?? nameof(Role.User))
                };

            var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var claimsPrincipal = new ClaimsPrincipal(claimsIdentity);

            await httpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, claimsPrincipal);
            navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Login failed: {ex.Message}");
        }

    }
}